aiohttp==2.0.7
async-timeout==1.2.1
asyncio==3.4.3
cchardet==2.1.0
chardet==3.0.2
click==6.7
Flask==0.12.2
Flask-Cors==3.0.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
multidict==2.1.5
six==1.10.0
Werkzeug==0.12.2
yarl==0.10.2
