	*{
		margin:0;
		padding:0;
	}
	ul,li{
		list-style:none;
	}
	a{
		text-decoreation:none;
	}
	body {
 		margin-top: 20px;
 		background: #ebeef0;
		width:100%;
		height:100%;
 	}
	.container{
		width:100%;
		height:100%;
	}
	.content-chat{
		margin-left:40px;
	}
	.panel {
 		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.075);
 		border-radius: 0;
 		border: 0;
 		margin-bottom: 24px;
 	}
 	.reset{
		background:pink;
		border-radius:3px;
		margin-top:20px;
		display: inline-block;
		width:45px;
		height:25px;
		text-align: center;
		line-height:25px;
		cursor:pointer;
	}
 	.panel .panel-heading,
 	.panel>:first-child {
 		border-top-left-radius: 0;
 		border-top-right-radius: 0;
 	}
 	
 	.panel-heading {
 		position: relative;
 		height: 50px;
 		padding: 0;
 		border-bottom: 1px solid #eee;
 	}

 	.panel-control {
 		height: 100%;
 		position: relative;
 		float: right;
 		padding: 0px 15px;
 	}

 	.panel-title {
 		font-weight: normal;
 		padding: 0 20px 0 20px;
 		font-size: 1.416em;
 		line-height: 50px;
 		white-space: nowrap;
 		overflow: hidden;
 		text-overflow: ellipsis;
 	}
 	
 	.panel-control>.btn:last-child,
 	.panel-control>.btn-group:last-child>.btn:first-child {
 		border-bottom-right-radius: 0;
 	}
 	
 	.panel-control .btn,
 	.panel-control .dropdown-toggle.btn {
 		border: 0;
 	}
 	
 	.nano {
 		position: relative;
 		width: 100%;
 		height: 100%;
 		overflow: hidden;
 	}
 	
 	.nano>.nano-content {
 		position: absolute;
 		overflow: scroll;
 		overflow-x: hidden;
 		top: 0;
 		right: 0;
 		bottom: 0;
 		left: 0;
 	}
 	
 	.pad-all {
 		padding: 15px;
 	}
 	
 	.mar-btm {
 		margin-bottom: 15px;
 	}
 	
 	.media-block .media-left {
 		display: block;
 		float: left;
 	}
 	
 	.img-sm {
 		width: 46px;
 		height: 46px;
 	}
 	
 	.media-block .media-body {
 		display: block;
 		overflow: hidden;
 		width: auto;
 	}
 	
 	.pad-hor {
 		padding-left: 15px;
 		padding-right: 15px;
 	}
 	
 	.speech {
 		position: relative;
 		background: lightpink;
 		color: #317787;
 		display: inline-block;
 		border-radius: 0;
 		padding: 6px 10px;
		max-width: 400px;
 	}
 	.speech img {
 		max-height: 140px;
 		max-width: 140px;
 		float: left;
 	}
 	
 	.speech:before {
 		content: "";
 		display: block;
 		position: absolute;
 		width: 0;
 		height: 0;
 		left: 0;
 		top: 0;
 		border-top: 7px solid transparent;
 		border-bottom: 7px solid transparent;
 		border-right: 7px solid #b7dcfe;
 		margin: 15px 0 0 -6px;
 	}
 	
 	.speech-right>.speech:before {
 		left: auto;
 		right: 0;
 		border-top: 7px solid transparent;
 		border-bottom: 7px solid transparent;
 		border-left: 7px solid #ffdc91;
 		border-right: 0;
 		margin: 15px -6px 0 0;
 	}
 	
 	.speech .media-heading {
 		font-size: 1em;
 		color: #317787;
 		display: block;
 		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 		margin-bottom: 5px;
 		padding-bottom: 1px;
 		font-weight: bold;
 	}
 	
 	.speech-time {
 		float:right;
 		margin-top: 5px;
 		margin-bottom: 0;
 		font-size: .8em;
 		font-weight: 300;
 	}
 	
 	.media-block .media-right {
 		float: right;
 	}
 	
 	.speech-right {
 		text-align: right;
 	}
 	
 	.pad-hor {
 		padding-left: 15px;
 		padding-right: 15px;
 	}
 	
 	.speech-right>.speech {
 		background: #ffda87;
 		color: #a07617;
 		text-align: right;
 	}
 	
 	.speech-right>.speech .media-heading {
 		color: #a07617;
 	}
 	
 	.btn-primary,
 	.btn-primary:focus,
 	.btn-hover-primary:hover,
 	.btn-hover-primary:active,
 	.btn-hover-primary.active,
 	.btn.btn-active-primary:active,
 	.btn.btn-active-primary.active,
 	.dropdown.open>.btn.btn-active-primary,
 	.btn-group.open .dropdown-toggle.btn.btn-active-primary {
 		background-color: #579ddb;
 		border-color: #5fa2dd;
 		color: #fff !important;
 	}
 	
 	.btn {
 		cursor: pointer;
 		/* background-color: transparent; */
 		color: inherit;
 		padding: 3px 15px;
 		border-radius: 0;
 		border: 1px solid #fff;
 		font-size: 11px;
 		line-height: 1.42857;
 		vertical-align: middle;
 		-webkit-transition: all .25s;
 		transition: all .25s;
 	}
	.btn-success{
		margin:0 20px;
	}
 	.btn-success,.btn-danger{
		width:20px;
		height:20px;
		padding: 3px 4px;
		color:#fff;
	}

 	.form-control {
 		font-size: 11px;
 		height: 100%;
 		border-radius: 0;
 		box-shadow: none;
 		border: 1px solid #e9e9e9;
 		transition-duration: .5s;
 	}
 	
 	.nano>.nano-pane {
 		background-color: rgba(0, 0, 0, 0.1);
 		position: absolute;
 		width: 5px;
 		right: 0;
 		top: 0;
 		bottom: 0;
 		opacity: 0;
 		-webkit-transition: all .7s;
 		transition: all .7s;
 	}
	.bot-conversation,.user-conversation{
		padding:0 0px;
	}
	.bot-conversation{
		width:430px;
		height:150px;
	}
	.user-conversation{
		height:100px;
	}
	.user-request{
		color: #31cbf1;
	}
	.alter-btn{
		float: right;
		display: inline-block;
		background: #f00;
		color:#fff;
		width:40px;
		height:20px;
		text-align: center;
		line-height: 20px;
		margin-left:5px;
	}
	.bttn{
		display: inline-block;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 20px;
		margin-left: 20px;
		color:#fff;
	}
	.bot-conversation input{
		width:200px;
		height:20px;
		display: block;
		margin:10px 0;
		text-align: center;
	}
	.bot-act{
		color:red;
	}
	.yes{
		background: #0f0;
	}
	.no{
		background: #f00;
	}
	.content-alter,.content-tracking{
		font-size:14px;
		margin-left:15px;
	}
	.content-alter .conversation-alter{
		font-size: 12px;
	}
	.alter{
		padding:1px;
	}
	.alter-after{
		margin:1px;
	}
	.request{
		color:deepskyblue;
	}
	.content-log .has-scrollbar,.content-alter .has-scrollbar{
		overflow-y: scroll;
		overflow-x: hidden;
		position: absolute;
		right: -17px;
	}
	.content-log,.content-alter,.content-tracking{
		overflow: hidden;
	}
	.panel-control input{
		border: 1px solid #e9e9e9;
		padding: 2px 5px;
		position: absolute;
		top: 20px;
		right: -7px;
		color: #555;
	}
	::-webkit-input-placeholder { /* WebKit browsers */
		color:#999;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:#999;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:#999;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:#999;
	}



