/*@media (min-width: 1700px)
	.container {
    width: 1500px;
	}
}
@media (min-width: 1900px)
	.container {
    width: 1700px;
    }
}*/
#header{
	padding: 20px;
}
.card{
	border: 1px solid #eee;
	border-radius: 5px;
}
.label{
	margin-right:3px;
	margin-top:10px;
	cursor: pointer;
}
.active{
	background-color: gray;
}
#excl{
	margin: 10px;
	float: right;
}
.sav{
	cursor: pointer;
	background-color: #7bde5b;
	padding: 4px;
    border-radius: 5px;
}
/*.pagination,.pagenum{
	float: left;
	margin-left: 20px;
}
.pagenum{
	margin-top: 20px;
}*/
#myMenu{
	padding: 20px;
	min-width: 200px;
	background-color:#fafafa;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #666;
}
#myMenu li{
	padding: 5px 0;
	cursor: pointer;
	text-align: center;
}
#myMenu li:hover{
	background-color: #eee;
}
::selection {
	background: #ffb7b7;
}
::-moz-selection {
    background: #ffb7b7; 
}